body{
    display:flex;
    justify-content: center;
    align-items:center;
}
.container{
    display:grid;
    background-color: goldenrod;
    border:thin solid black;
    border-radius:0.2rem;
    width:500px;
    height:500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap:8px;
    column-gap: 8px;
    padding:8px;
}
#display-row{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end:-1;
    background-color: aliceblue;
}
.box{
    background-color: darkcyan;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    color:white;
}
.value{
    display:flex;
    background-color:darkblue;
    align-items:center;
    justify-content: center;
    color:white;
}
.operator-equals{
    grid-row-start:3;
    grid-row-end:-1;
    grid-column-start:4;
    grid-column-end:-1;
    background-color:darkslategray;
}

.box:hover{
    background-color:cornflowerblue;
    box-shadow:30px;
}

